@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --font-family: 'JetBrains Mono', monospace;
    --muted: #8a8a8f;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(to bottom, #020111 0%, #191c33 100%);
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40vh;
}

#clock {
    color: var(--muted);
    font-size: 0.9rem;
}

.typewriter {
    display: flex;
    align-items: center;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  display: inline-block;
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding-right: 0.15em;
  animation: 
    typing 4s steps(50, end),
    blink-caret 1s ease-in-out infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 39ch }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 24px;
    width: 100%;
    padding: 16px;
}

.nav-links {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links li::before,
.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform-origin: left;
    transition: transform 0s;
}

.nav-links li::before {
    transform: scaleX(1);
}

.nav-links li::after {
    transform: scaleX(0);
}

.nav-links li:hover::before {
    transform: scaleX(0);
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transition: transform 0.4s ease;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
}
