@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #ffffff;
    --font-family: 'JetBrains Mono', monospace;
    --muted: #8a8a8f;
    --border: rgba(253, 253, 254, 0.1);
    --slider-main-color: #000000;
    --slider-secondary-color: #ffffff;
    --transition-speed: 0.4s;
}

html,
body {
    overscroll-behavior: none;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background: linear-gradient(to bottom, #020111 0%, #191c33 100%);
    min-height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px 16px;
    background-color: #191c33;
}

.nav-links {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.nav-links li {
    list-style: none;
    position: relative;
}

.nav-links li::before,
.nav-links li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transform-origin: left;
    transition: transform 0s;
}

.nav-links li::before {
    transform: scaleX(1);
}

.nav-links li::after {
    transform: scaleX(0);
}

.nav-links li:hover::before {
    transform: scaleX(0);
}

.nav-links li:hover::after {
    transform: scaleX(1);
    transition: transform 0.4s ease;
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
}

/* day/night toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.navbar .switch {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: var(--slider-secondary-color);
    transition: background-color var(--transition-speed);
}

.slider::before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: 26px;
    height:26px;
    background-color: var(--slider-main-color);
    transition: transform var(--transition-speed), background-color var(--transition-speed);
}

input:checked + .slider {
    background-color: var(--slider-main-color);
}

input:checked + .slider::before {
    transform: translateX(26px);
    background-color: var(--slider-secondary-color);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
